C#-Service Oriented Architecture, INFS3204/Prac3WCF/p3/Service References/ServiceReference2/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/p3" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/p3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Job">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="positionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="positionNumber" type="xs:int" />
      <xs:element minOccurs="0" name="positionTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Job" nillable="true" type="tns:Job" />
</xs:schema>