C#-Service Oriented Architecture, INFS3204/Prac3WCF/p3/Service References/ServiceReference2/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49410/Service2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49410/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49410/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/p3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService2_SaveInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveInfo" />
  </wsdl:message>
  <wsdl:message name="IService2_SaveInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetJobInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobInfo" />
  </wsdl:message>
  <wsdl:message name="IService2_GetJobInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetColleagues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetColleagues" />
  </wsdl:message>
  <wsdl:message name="IService2_GetColleagues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetColleaguesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService2">
    <wsdl:operation name="SaveInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/SaveInfo" message="tns:IService2_SaveInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/SaveInfoResponse" message="tns:IService2_SaveInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetJobInfo" message="tns:IService2_GetJobInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetJobInfoResponse" message="tns:IService2_GetJobInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetColleagues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetColleagues" message="tns:IService2_GetColleagues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetColleaguesResponse" message="tns:IService2_GetColleagues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService2" type="tns:IService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveInfo">
      <soap:operation soapAction="http://tempuri.org/IService2/SaveInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobInfo">
      <soap:operation soapAction="http://tempuri.org/IService2/GetJobInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColleagues">
      <soap:operation soapAction="http://tempuri.org/IService2/GetColleagues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IService2" binding="tns:BasicHttpBinding_IService2">
      <soap:address location="http://localhost:49410/Service2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>