C#-Service Oriented Architecture, INFS3204/Prac4ADO/Prac4/Service References/ADODatabaseServiceReference/ADODatabaseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Prac4" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Prac4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HealthInsuranceNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HealthProfession" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicalRegistrationNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
  <xs:complexType name="Appointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppointmentDateAndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClinicName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HealthInsuranceNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicalRegistrationNO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appointment" nillable="true" type="tns:Appointment" />
</xs:schema>