C#-Service Oriented Architecture, INFS3204/Prac4ADO/Prac4/Service References/ADODatabaseServiceReference/ADODatabaseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57837/ADODatabaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Prac4" />
  <xs:element name="PatientRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Prac4" minOccurs="0" name="p" nillable="true" type="q1:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatientRegistrationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoctorRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Prac4" minOccurs="0" name="d" nillable="true" type="q2:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoctorRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoctorRegistrationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Prac4" minOccurs="0" name="GetPatientInfoResult" nillable="true" type="q3:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Prac4" minOccurs="0" name="GetDoctorInfoResult" nillable="true" type="q4:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointmentBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pfirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dfirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dlastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppoitmentDateAndTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="clinicName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointmentBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppointmentBookingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pfirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dfirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dlastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Prac4" minOccurs="0" name="GetAppointmentResult" nillable="true" type="q5:Appointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointmentReschedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pfirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dfirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dlastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAppointmentTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointmentRescheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppointmentRescheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>